<div class="container">
	<div class="row">
		<h1>Edit article</h1>
		<%= form_with(model: @article, url: admin_article_path(@article), local: true) do |form| %>
		  <p>
		    <%= form.label :title %><br>
		    <%= form.text_field :title %>
		  </p>
		  <p>
		    <%= form.label :text %><br>
		    <%= form.text_area :text %>
		  </p>
		  <p>
		    <%= form.submit %>
		  </p>
		<% end %>
		<%= link_to 'Back', admin_articles_path %>
	</div>
</div>