<div class="container">

	<h1>List Article</h1>
	<table class="table">
	  <thead>
	  	<th>ID</th>
	    <th>Title</th>
	    <th>Content</th>
	    <th>Created At</th>
	    <th>Updated At</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </thead>
	  <tbody>
	    <% @articles.each do |article| %>
  			<tr>
  				<td><%= article.id %></td>
  				<td><%= article.title.truncate(20) %></td>
			    <td><%= article.text.truncate(50) %></td>
			    <td><%= time_ago_in_words(article.created_at) + " ago"%></td>
			    <td><%= time_ago_in_words(article.updated_at) + " ago"%></td>
        		<td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
			    <td><%= link_to "Show", admin_article_path(article) %></td>
			    <td><%= link_to "Delete Article",  admin_article_path(article) ,
        				method: :delete,
        				data: {confirm: "Are you sure?"} %></td>
   			</tr>
   		<% end %>
	  </tbody>
	</table>
	<p><%= will_paginate @articles %></p>


</div>
