<div class="container">
	<div class="row">
		<div class="dropdown">
		  	<a data-toggle="dropdown" href="#"><h1><%= @article.title %></h1></a>
		  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		  		<li role="presentation"><a role="menuitem" tabindex="-1">
        			<td><%= link_to 'Edit', edit_admin_article_path(@article) %></td>
		    	</a></li>
		    	<li role="presentation"><a role="menuitem" tabindex="-1">
        			<td><%= link_to "Delete Article",  admin_article_path ,
        				method: :delete,
        				data: {confirm: "Are you sure?"} %></td>
		    	</a></li>

		    </ul>
		</div>
	</div>
	<h4>Content: <%= @article.text %></h4>
	<h5>Author: <%=  link_to User.find(@article.user_id).full_name , admin_user_path(User.find(@article.user_id)) %></h5>

	
	
	<h3>All Comments:</h3>
	<% @article.comments.each do |comment| %>
		<div class="row">
			<div class="col-md-8">
				<% if comment.id.to_s == params[:id_comment_edit] %>	
					<%= form_with(model: comment, url: admin_article_comment_path(@article, comment), local: true) do |form| %>
						<div class="row">
							<div class="col-md-2">
								<strong><%= User.find(comment.user_id).full_name + ":" %></strong>
							</div>
							<div class="col-md-8">
							    <%= form.text_area :body %>
							</div>
							<div class="col-md-2">
							   	<p><%= form.submit :Comment %></p>
							</div>
						</div>
					<% end %>
				<% elsif comment.id.present? == true %>
					<p class="outset">
						<strong><%= User.find(comment.user_id).full_name + ": " %></strong>
						<%= comment.body %>
					</p>
				<% end %>
			</div>
			<% if comment.id.to_s != params[:id_comment_edit] %>	
				<div class="col-md-4">
					<div class="dropdown">
					  <a data-toggle="dropdown" href="">...</a>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					  	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Flag</a></li>
					  	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reply</a></li>
						
				    	<li role="presentation"><a role="menuitem" tabindex="-1">
		        			<td><%= link_to 'Edit', edit_admin_article_comment_path(@article,id_comment: comment.id) %></td>
				    	</a></li>
				    	<li role="presentation" class="divider"></li>
				    	<li role="presentation"><a role="menuitem" tabindex="-1">
				    		<td><%= link_to "Delete", admin_article_comment_path(@article,id_comment: comment.id),
						  		method: :delete,
						  		data: {confirm: "Are you sure?"} %></td>

					  </ul>
					</div>
				</div>
			<% end %>
		</div>

	<% end %>
	<div class="row">
		<%= link_to 'Back', admin_articles_path %>
	</div>
</div>
