<div id="post_<%= article.id%>">	
	<div class="post-preview">
	  <h2 class="post-title">
	    <%= link_to article.title, article_path(article), :'data-toggle' => :tooltip, :title => article.created_at.strftime("At %r") %>
	  </h2>
	  <h3 class="post-subtitle">
	    <%= article.text.truncate(100) %>
	  </h3>
	  <p class="post-meta">Posted by
	    <a><%= link_to article.user.full_name, user_path(article.user) %></a>
	    <%= article.created_at.strftime("on %B %d, %Y") %></p>
	  <% if current_user.id == article.user_id %> 
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-warning" data-toggle ="modal" data-target="#myupdatepost_<%= article.id %>">Edit</button>
				<%= link_to "Destroy", article_path(:id => article.id ,:page_index => true) ,method: :delete , data: {confirm: "Are you sure?"}, class: "btn btn-danger" , remote: true%>
			</div>
		<% end %>

		<!-- Modal -->
		<div class="modal fade" id="myupdatepost_<%= article.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<%= form_for(article, :method => :put, remote: true ) do |f|%>
				<%= hidden_field_tag :page_index, true %>
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">Edit</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			      </div>
			      <div class="modal-body">
			        <div class="field">
	              <%= f.label :title%><br>
	              <%= f.text_field :title, class: "form-control "%>
	            </div>
	            <div class="field">
	              <%= f.label :text %><br>
	              <%= f.text_area :text, class: "form-control "%>
	            </div>
	            <div class="control-group">
				        <%= f.label :pictures, :class => 'control-label' %>
				        <div class="controls">
				          <%= f.file_field :image, type: :file, multiple: true %>
				        </div>
					    </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" id="myupdatebutton_<%= article.id %>" class="btn btn-default" data-dismiss="modal">Close</button>
			        <%= submit_tag "Update", class: "btn btn-primary" %>
			      </div>
			    </div>
			  </div>
			<% end %>
		</div>
	</div>
	<hr>
</div>
