<% if comment.id.present? == true %>
	<div class="row" id="comment_<%= comment.id %>">
		<div class="col-md-10 ">
			<div class="comment mb-2 row ">
	      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
	      		<% if comment.user.avatar.present? %>
					  	<%= link_to image_tag(comment.user.avatar.url, :class => "mx-auto rounded-circle img-fluid", alt: "avatar"), user_path(comment.user)%>
				  	<% else %>
					  	<%= link_to image_tag("user.png", :class => "mx-auto rounded-circle img-fluid", alt: "avatar"), user_path(comment.user)%>
				  	<% end %>
	      </div>
	      <div class="comment-content col-md-11 col-sm-10">
	          <h6 class="small comment-meta"><strong><%= link_to comment.user.full_name, user_path(comment.user) %><%= comment.created_at.strftime(" - On %a, %X")%></strong></h6>
	          <div class="comment-body " >
	            <p id="edit_cmt_<%= comment.id %>"><%= comment.body %></p>
	            <p><% if  current_user.id == comment.article.user_id || current_user.id  == comment.user_id %>
								<%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, '#', class: "text-right small", "data-toggle": "modal" ,"data-target": "#editmycmt_#{ comment.id }" ,id: "edit_cmt" %>
								<span> / </span>
								<%= link_to '<i class="fa fa-remove"></i> Delete'.html_safe, article_comment_path(article_id: comment.article_id,id: comment.id), class: "text-right small", method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
								<!-- Modal edit cmt -->
									<%= form_for(comment, url: article_comment_path(comment.article, comment),remote: true) do |f| %>
									  <div class="modal fade" id="editmycmt_<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									    <div class="modal-dialog" role="document">
									      <div class="modal-content">
									        <div class="modal-header">
									          <h4 class="modal-title" id="myModalLabel">Edit Comment</h4>
									          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									        </div>
									        <div class="modal-body">
														<%= f.text_area :body , :class => 'form-control' %>
									        </div>
									        <div class="modal-footer">
									          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">Close</button>
														<p><%= f.submit :Comment ,:class => "btn btn-primary" %></p>
									        </div>
									      </div>
									    </div>
									  </div>
									<% end %>
									<!-- end modal edit comment -->
							<% end %>
	            </p>
	          </div>
	      </div>
	  	</div>	
		</div>
	</div>
<% end %>
