<%= form_with(model: @article, local: true) do |form| %>

    <div class="form-group">
    <%= form.text_field :title, class: "form-control", placeholder: "Write Title" %>
    </div>
    <div class="form-group">
    <%= form.text_area :text, class: "form-control", placeholder: "Write Content" %>
    </div>
    
    <div class="control-group">
        <%= form.label :pictures, :class => 'control-label' %>
        <div class="controls">
            <%= form.file_field :image, type: :file, multiple: true %>
        </div>
    </div>
    <%= form.submit  %>
    <div class="pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Text</button>
            <button type="button" class="btn btn-default"><i class="fa fa-file-image-o"></i> Image</button>
            <button type="button" class="btn btn-default"><i class="fa fa-file-video-o"></i> Video</button>
        </div>
    </div>
<% end %>