<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= article.title %></h1>
          <p class="meta">Posted by
            <%= article.user.full_name %>
            <%= article.created_at.strftime("on %B %d, %Y") %></p>
        </div>
      </div>
    </div>
  </div>
</header>