<%= render "header_article" , article: @article %>
<section class="showcase">
  <div class="container-fluid p-0">
		<div class="row">
		  <div class="col-lg-4 text-white"> 
		  	<% if @article.pictures.present? %>
			  	<%= link_to image_tag(@article.pictures.first.image.url, :class => "img-thumbnail image_post"), @article.pictures.first.image.url, "data-lightbox": "gallery" , "data-title": "Sample Image 1"%>
		  	<% else %>
				  <%= image_tag("nothing_here_yet.png", :class => "img-thumbnail image_post")%>
		  	<% end %>
		  </div>
		  <div class="col-lg-8 my-auto showcase-text">
		    <p class="lead mb-0"><%= @article.text %></p>
	    	<% if current_user.id == @article.user_id %> 
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-warning" data-toggle ="modal" data-target="#myupdatepost_<%= @article.id %>" id="edit_post" >Edit</button>
						<%= link_to "Destroy", @article, method: :delete,data: {confirm: "Are you sure?"}, class: "btn btn-danger",id: "delete_post", remote: true%>
					</div>
				<% end %>
		  </div>
		</div>
	</div>
</section>
<div class="row">
	<% if @article.pictures.present? %>
	  <% @article.pictures.where.not(id: @article.pictures.first.id).each_with_index do |pic,index| %>
	  	<div class="col-md-4">
	  		<%= link_to image_tag(pic.image.url, :class => "img-thumbnail image_post img-hidden"), pic.image.url, "data-lightbox": "gallery" , "data-title": "Sample Image " + (index+1).to_s%>
	  	</div>
	  <% end %>
  <% end %>
</div>
		<!-- Modal -->
<div class="modal fade" id="myupdatepost_<%= @article.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<%= form_for(@article, :method => :put, remote: true) do |f|%>
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">Edit</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      </div>
	      <div class="modal-body">
	        <div class="field">
            <%= f.label :title%><br>
            <%= f.text_field :title, class: "form-control "%>
          </div>
          <div class="field">
            <%= f.label :text %><br>
            <%= f.text_area :text, class: "form-control "%>
          </div>
          <div class="control-group">
		        <%= f.label :pictures, :class => 'control-label' %>
		        <div class="controls">
		          <%= f.file_field :image, type: :file, multiple: true %>
		        </div>
			    </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id="myupdatebutton_<%= @article.id %>" class="btn btn-default" data-dismiss="modal">Close</button>
	        <%= submit_tag "Update", class: "btn btn-primary" %>
	      </div>
	    </div>
	  </div>
	<% end %>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-9">
    	<h3 class="mb-2">Comments</h3>
			<%= form_tag article_comments_path(@article), method: :post, remote: true do |form| %>
				<div class="comment-form ">
					<form class="form-inline">
						<div class="form-group">
							<%= text_area_tag :body , '', :class => 'form-control comment_body' %>
						</div>
						<p><%= submit_tag :Comment , :class => "btn btn-primary" %></p>
					</form>
				</div>
			<% end %>
			<hr>
		</div>
    <div class="comments col-md-10 offset-md-1" id="comments">
    	<div class="container_comments">
	    	<br>
				<% @comments.each do |comment| %>
					<%= render 'comment', comment: comment %>
				<% end %>
			</div>
		</div>
  </div>
</div>