<div class="container">
	<div class="row">
		<h1 class="text-center">Login</h1>
	</div>
	<div class="row">
		<div class="col-lg-offset-3 col-lg-6">
			<%= form_for :session, url: login_path do |f| %>
				<div class="form-group">
					<%= f.label :"user name" %>
					<%= f.text_field :name, placeholder: "Enter user name", class: "form-control" %>
				</div>
				<div class="form-group" id="show">
					<%= f.label :password %>
					<%= f.password_field :password, placeholder: "Enter your password",
						class: "form-control" %>
				</div>
				<div class="text-center">
					<%= f.submit "Sign in", class: "btn btn-info col-lg-12" %>
				</div>
				<div class="text-right">
					<%= link_to "Sign Up", new_user_path %>
				</div>
				<div class="text-right">
					<a href="#" data-toggle="modal" data-target="#myModal" >Forgot your password ? </a>
				</div>
			<% end %>
		</div>
	</div>
</div>

<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
        <% if params[:flag] %> 
        	<p class="text-danger"><%= params[:message] %></p>
        <% end %>
      </div>
      <div class="modal-body">
		<%= form_for @user, :url => {:controller => "users", :action => "find_pass"} ,html: {class: "form-horizontal" } do |f| %>
	      <div class="form-group">
	        <%= f.label :name, "User Name", class: "col-md-4 control-label" %>
	        <div class="col-md-6">
	          <%= f.text_field :name, class: "form-control", placeholder: "Enter your user name" %>
	        </div>
	      </div>
	      <div class="form-group">
	        <%= f.label :email, class: "col-md-4 control-label" %>
	        <div class="col-md-6">
	          <%= f.text_field :email, class: "form-control", placeholder: "Enter your email" %>
	        </div>
	      </div>
	      <div class="form-group">
	        <%= f.label :password, "New password", class: "col-md-4 control-label" %>
	        <div class="col-md-6">
	          <%= f.password_field :password, class: "form-control", placeholder: "Enter your new password" %>
	        </div>
	      </div>
	      <div class="form-group">
	        <%= f.label :password_confirmation, "Confirm new password", class: "col-md-4 control-label" %>
	        <div class="col-md-6">
	          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your new password" %>
	        </div>
	      </div>
	      <div class="form-group">
	        <div class="col-lg-offset-4">
	          <%= f.submit "Confirm", class: "btn btn-primary" %>
	        </div>
	      </div>
	    <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
	<% if params[:flag] %> 
	    $(window).on('load',function(){

	        $('#myModal').modal('show');
	    });
	<% end %>
	$('document').ready(function() {
		setTimeout(function() {
		  $('.alert').slideUp();
		}, 1000);
	});
</script>
