<tr> 
  <td><%= user.name %></td>
  <td><%= user.full_name %></td>
  <% if current_user.id != user.id %>
  <td><%= link_to "Delete", user_path(user,admin: true),
      method: :delete,
      data: {confirm: "Are you sure?"} %></td>
  <% else %>
    <td><%= link_to "Delete", user_path(user),
      method: :delete,
      data: {confirm: "Are you sure?"} %></td>
  	<td><%= link_to "Logout", logout_path, method: :delete %></td>
  	<td><%= link_to 'Edit', edit_user_path(user) %></td>
  <% end %>

</tr>