<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Vinova Blog</h1>
          <span class="subheading">Help you connect with the people in your life.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="profile">
              <div class="page-header">
                <h1><%= current_user.full_name %>
                <button onclick="myFunction()" type="button" id="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-edit"></span> Edit
                </button></h1>
              </div>
              
              <div class="row">
                <div class="col-md-4">
                  <% if current_user.avatar.present? %>
                      <%= image_tag current_user.avatar.url(:thumb) , :class => "img-thumbnail img-circle"%></a>
                  <% else %>

                      <%= image_tag("user.png", :alt => "rss feed" , :class => "img-thumbnail img-circle") %></a>
                  <% end %>

                  
                </div>
                <div class="col-md-8">
                  <ul>
                    <li><strong>User Name:</strong> <%= current_user.name %> </li>
                    <li><strong>Full Name:</strong> <%= current_user.full_name %> </li>
                    <li><strong>Email:</strong> <%= current_user.email %> </li>
                    <li><strong>City:</strong>  </li>
                    <li><strong>State:</strong>  </li>
                    <li><strong>Gender:</strong>  </li>
                    <li><strong>Profession:</strong> </li>
                  </ul>
                </div>
              </div>
              <br></br>
              <div class="row">
                <div class="col-md-4">
                  <%= form_with(model: current_user, local: true, :html => {multipart: true})  do |f| %>

                    <%= f.file_field :avatar %>
                    <%= f.submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div><!-- end col-md-8-->
          <div class="col-md-4">
            <div class="panel panel-default friends">
              <div class="panel-heading">
                <h3 class="panel-title">My Friends</h3>
              </div>
              <div class="panel-body">
                
                <div class="clearfix"></div>
                <a href="#" class="btn btn-primary">View All Friends</a>
              </div>
            </div>
            <div class="panel panel-default groups">
              <div class="panel-heading">
                <h3 class="panel-title">Latest Groups</h3>
              </div>
              <div class="panel-body">
                
              </div>
            </div>
          </div>
        </div> 
        <p class="text-left"> <%= link_to 'Back', articles_path %> </p>
      </div>
</section>

<div class="container" id="form_with">
	<div class="row">
		<h1>Edit info</h1>
    		<%= form_with(model: current_user, local: true)  do |f| %>
                    
                    <div class="form-group">
                      <%= f.label :"full_name" %>
                      <%= f.text_field :full_name, placeholder: "Enter full name", class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :"email" %>
                      <%= f.text_field :email, placeholder: "Enter email ", class: "form-control" %>
                    </div>

                    <input type="checkbox" id="checkbox">Change Password 

                    <div id="change_pass">
                      <div class="form-group">
                        <%= f.label :new_password %>
                        <%= f.password_field :new_password, placeholder: "Enter your new password",
                          class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :confirm_new_password %>
                        <%= f.password_field :confirm_new_password, placeholder: "Comfirm your new password",
                          class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :password %>
                      <%= f.password_field :password, placeholder: "Enter your password",
                        class: "form-control" %>
                    </div>

                    
                    <div class="text-center">
                      <%= f.submit "Update", class: "btn btn-info col-lg-12" %>
                    </div>
          <% end %>
    		<p class="text-right"><%= link_to "Delete User", user_path(current_user),
                                        method: :delete,
                                        data: {confirm: "Are you sure?"} %></p>
  </div>
</div>
<script>
    $('#change_pass').hide();
    $('#form_with').hide();
    $('#checkbox').click(function(){
        if ($(this).is(":checked")) {
            console.log("checked")
            $('#change_pass').show();
        }
        else {
            console.log("unchecked")
            $('#change_pass').hide();
        }
    })
    function myFunction() {
      var x = document.getElementById("form_with");
      if (x.style.display === "none") {
          x.style.display = "block";
      } else {
          x.style.display = "none";
    }
} 
</script>
