<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1><%= @user.full_name %>'s Blog</h1>
          <span class="subheading">All articles which i want to share with my friends.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto ">
    	<div class="container_posts">
	      <% if @articles.present?  %>
	        <div class="show_articles" >
	          <%= render @articles %>
	          <%= will_paginate @articles,renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	          <%if @article.user == current_user%>
              <%= link_to "Destroy All", user_path(current_user,:delete_all_articles => true) ,method: :delete , data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
            <%end%>
	        </div> 
	      <% end %>
	    </div>
    </div>
    <div class="col-lg-4 col-md-2 mx-auto">
    	<div id="search_box">
        <%= form_tag articles_path, method: :get, remote: true do %>
          <div class="form-group">
            <%= text_field_tag :search,"", class: "search_input" ,placeholder: "Type Here..."%>

          </div>
        <% end %>
      </div>
      Field nay dung de Quang Cao
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#mynewpost" id="create_post">
        New Article
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<%= form_for(@article, remote: true) do |f| %>
  <div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Article</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="field">
            <%= f.label :title%><br>
            <%= f.text_field :title, class: "form-control title_article"%>
          </div>
          <div class="field">
            <%= f.label :text %><br>
            <%= f.text_area :text, class: "form-control content_article"%>
          </div>
          <div class="control-group">
            <%= f.label :pictures, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image, type: :file, multiple: true, class: "image_article" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">Close</button>
          <%= submit_tag "Create", class:"btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
$('document').ready(function() {
  setTimeout(function() {
    $('.alert').slideUp();
  }, 1000);
});
</script>