// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile ul{
	margin-top: 30px;
}
.profile li{
	list-style: none;
	line-height: 1.9em;
}