<div class="container">
  <div class="row">
    <div class="col-lg-12 form-group">
      <label for="">List Users</label>
      <table class="table">
        <thead>
          <th>User Name</th>
          <th>Full Name</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <%#= render @users %>
            <% @users.each do |user| %>
                    <%= render "list_user", user: user %>
            <% end %>
            <p><%= will_paginate @users %></p>

        </tbody>
      </table>
    </div>
  </div>
</div>