<div class="container">
	<h1><%= @user.name %>'s Blog</h1>
	<table class="table">
		<h1><%= @user.name %>'s Articles</h1>
	  <thead>
	    <th>Title</th>
	    <th>Content</th>
	    <th></th>
	  </thead>
	  <tbody>
		<% @articles.each do |article| %>
		  <tr>
		    <td><%= link_to article.title, admin_article_path(article) %></td>
		    <td><%= article.text.truncate(50) %></td>
		   
		 	
		  </tr>
		<% end %>
	  </tbody>
	</table>

	<p><%= will_paginate @articles %></p>
	
</div>